#home-section-container {
    margin-bottom: 13rem;
}

#introduction-section-container {
    display: flex;
    margin: 0;
    justify-content: center;
    gap: 3rem;
    height: 100vh;
    align-items: center;
    padding: 0 17rem;
}

#introduction-section-container span {
    color: rgba(76, 157, 255, 0.85);
}

.headline {
    font-size: 3.5rem;
    font-weight: 500;
}

#profile-image-container {
    background-color: white;
    padding: 3px 3px 0 3px;
    margin: 0;
    border-radius: 0.7rem;
    transform: rotate(-5deg);
    transition: transform 0.25s ease;
    display: block;
    cursor: default;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.072);
}

#profile-image-container:hover {
    transform: rotate(0deg);
    transform: scale(1.12);
}

#profile-image {
    width: 14rem;
    height: auto;
    border-radius: 0.5rem;
    padding: 0;
    margin: 0;
    cursor: default;
}

.headline {
    line-height: 3.4rem;
}

#skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills-section h1 {
    margin-bottom: 1rem;
}

#skills-section p {
    color: rgb(113, 113, 113);
    margin-bottom: 1rem;
}