#projects-section-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 0 10rem 0;
}

#projects-section-container p {
    color: rgb(113, 113, 113);
}

#project-list {
    list-style: none;
    padding: 0;
    margin: 4rem 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 10rem;
}

.project-list-item {
    max-width: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project-image-container {
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.072);
    transition: transform 0.2s ease;
}

.project-list-item img {
    border-radius: 1rem;
    width: 100%;
    height: 350px;
    cursor: default;
}

.project-image-container:hover {
    transform: scale(1.02);
}

.project-list-item h3 {
    margin-bottom: 1rem;
}

.project-list-item p {
    line-height: 1.5rem;
}